body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}
header{
    border: 1px solid black;
    background-color: beige;
    color: black;
    border-radius: 10px;}

a{
    color: black;
    margin-right: 20px;
}

h2{ border: 1px solid black;
    background-color: beige;
    border-radius: 10px;
    color: rgb(220, 116, 134);}

h3{
    color: rgb(220, 116, 134);
}

img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}

button{
    border: 1px solid black;
    color: black;
    background-color: beige; 
    border-radius: 10px; 
}

button:hover {background-color: rgb(220, 116, 134);}

/* class selector . */
.large-text {
    font-size: 30px;
}

/*header*/
.nav-flex{
    display: flex;
    justify-content: space-between;
}
nav a:hover {
    color: rgb(220, 116, 134);}

/*main*/
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
        }

.container-blog{
    display: flex;
    justify-content: space-between;
    gap: 10px; 
    padding: 10px;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    background-color: beige; 
    padding: 10px;
}
/*form*/

.container-form{
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    gap: 0px; 
    padding: 0px;
}

.form-container{
    border: 1px solid black;
    background-color: beige;
    border-radius: 10px;
    padding: 10px;
    background-color: beige;
}

    .input-container{
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
